node.environment=test
node.id=b6a9ec29-f46c-473b-a18b-993c333e4abf
node.data-dir=/var/lib/presto/data
catalog.config-dir=/etc/presto/catalog
plugin.dir=/usr/lib/presto/lib/plugin
node.server-log-file=/var/log/presto/server.log
node.launcher-log-file=/var/log/presto/launcher.log